*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
#particles-js{
    .w-100{
        width: 100vw;
        height: fit-content;
        .frame{
            width: 250px;
            height: 250px;
        }
    }
}

.gambar{
    position: absolute;
    width: 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: -moz-max-content;
    height: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    img{
        width: 300px;
        height: 300px;
    }
    p{
        padding: 2px 5px;
        font-size: 15px;
        color: #ffff;
        font-weight: 400;
        text-align: center;
    }
    .button{
        display: flex;
        outline: 0;
        border: 0;
        cursor: pointer;
        transition: box-shadow 0.15s ease,transform 0.15s ease;
        will-change: box-shadow,transform;
        background: #BA9C6A;
        box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #BA9C6A;
        height: 48px;
        width: 147px;
        padding: 0 32px;
        font-size: 18px;
        border-radius: 6px;
        color: #ffff;
        transition: box-shadow 0.15s ease,transform 0.15s ease;
        &:hover {
            box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #BA9C6A;
            transform: translateY(-2px);
        }
        &:active{
            box-shadow: inset 0px 3px 7px #BA9C6A;
            transform: translateY(2px);
        }
        justify-content: center;
        align-items: center;
    }

    
  }
#moqudimah {
    width: 100vw;
    height: max-content;
    background-color: green;
    position: absolute;
    top: 100%; /* Posisi tepat di bawah .div1 */
    left: 50%;
    transform: translateX(-50%);
  }
  