@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

#particles-js .w-100 {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
}
#particles-js .w-100 .frame {
  width: 250px;
  height: 250px;
}

.gambar {
  position: absolute;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -moz-max-content;
  height: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gambar img {
  width: 300px;
  height: 300px;
}
.gambar p {
  padding: 2px 5px;
  font-size: 15px;
  color: white;
  font-weight: 400;
  text-align: center;
}
.gambar .button {
  display: flex;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  background: #BA9C6A;
  box-shadow: 0px 2px 4px rgba(45, 35, 66, 0.4), 0px 7px 13px -3px rgba(45, 35, 66, 0.3), inset 0px -3px 0px #BA9C6A;
  height: 48px;
  width: 147px;
  padding: 0 32px;
  font-size: 18px;
  border-radius: 6px;
  color: white;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  justify-content: center;
  align-items: center;
}
.gambar .button:hover {
  box-shadow: 0px 4px 8px rgba(45, 35, 66, 0.4), 0px 7px 13px -3px rgba(45, 35, 66, 0.3), inset 0px -3px 0px #BA9C6A;
  transform: translateY(-2px);
}
.gambar .button:active {
  box-shadow: inset 0px 3px 7px #BA9C6A;
  transform: translateY(2px);
}

#moqudimah {
  background: url(../asset/image-wedding.png) center center/cover no-repeat, linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Lapisan gradian hitam transparan */
  background-blend-mode: overlay; /* Mode campuran untuk lapisan gradian */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: 100%; /* Posisi tepat di bawah .div1 */
  left: 50%;
  transform: translateX(-50%);
}
#moqudimah h4 {
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#moqudimah .verse {
  text-align: right;
  direction: rtl; /* Arah penulisan dari kanan ke kiri untuk bahasa Arab */
  margin-bottom: 20px;
  font-family: "Arial";
  /* Gaya untuk tanda kutip ayat */
  /* Gaya untuk penulisan nama surat */
  /* Gaya untuk nomor surat */
}
#moqudimah .verse p {
  color: #FE9526;
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}
#moqudimah .verse .tanda-kutip {
  font-style: italic;
  color: #fff; /* Warna teks tanda kutip */
}
#moqudimah .verse .surat {
  font-weight: bold;
  font-size: 1.2em;
  color: #0066cc; /* Warna teks nama surat */
}
#moqudimah .verse .nomor-surat {
  font-size: 1em;
  color: #333; /* Warna teks nomor surat */
}
#moqudimah .right-line {
  position: absolute;
  top: 120;
  right: 0;
  width: 50%; /* Sesuaikan lebar garis */
  transform: translateY(-50%);
  border: none;
  border-top: 2px solid #fff; /* Sesuaikan warna dan ketebalan garis */
  margin: 0;
  float: right;
  size: 20;
}
#moqudimah .ajakan {
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#moqudimah .lin-gap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#moqudimah .lin-gap .align-center-svg {
  display: inline-block; /* Memungkinkan pengaturan margin dan transform */
  margin-left: auto;
  margin-right: auto;
}
#moqudimah .putri .container-grid {
  display: grid;
  grid-template-areas: "line nama" "line anak" "line bin";
  grid-template-columns: 60px 1fr;
}
#moqudimah .putri .container-grid .item1 {
  grid-area: line;
}
#moqudimah .putri .container-grid .item2 {
  grid-area: nama;
  color: #BA9C6A;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#moqudimah .putri .container-grid .item3 {
  grid-area: anak;
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#moqudimah .putri .container-grid .item4 {
  grid-area: bin;
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#moqudimah .end {
  color: #FE9526;
  font-family: Sacramento;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#moqudimah .putra .container-grid {
  display: grid;
  grid-template-areas: "nama line" "anak line" "bin line";
  grid-template-columns: 1fr 60px;
}
#moqudimah .putra .container-grid .item1 {
  grid-area: line;
}
#moqudimah .putra .container-grid .item2 {
  grid-area: nama;
  color: #BA9C6A;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: right;
}
#moqudimah .putra .container-grid .item3 {
  grid-area: anak;
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: right;
}
#moqudimah .putra .container-grid .item4 {
  grid-area: bin;
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: right;
}

#acara {
  background: url(../asset/wedding11.png) center center/cover no-repeat; /* Gambar latar belakang */
  /* Lapisan gradian hitam transparan */
  background-blend-mode: overlay; /* Mode campuran untuk lapisan gradian */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 200%; /* Posisi tepat di bawah .div3 */
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 412px) {
  #acara {
    /* Adjustments for smaller screens */
    top: 212%;
  }
}
#acara .rectangale {
  background: url(../asset/wedding21.png) center center/cover no-repeat, linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Lapisan gradian hitam transparan */
  background-blend-mode: overlay; /* Mode campuran untuk lapisan gradian */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 185px;
  border-radius: 15px;
}
#acara .continer {
  background-color: #0a6cf1;
  padding: 30px 20px 10px 20px;
  border-radius: 8px;
  color: #fff;
  width: 90vw;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
}
#acara .continer label {
  display: block;
}
#acara .continer .project-title {
  font-size: 9pt;
  opacity: 0.5;
}
#acara .continer .project-name {
  font-size: 16pt;
  margin: 5px 0;
}
#acara .continer .counter {
  padding: 25px;
  margin: 25px 0 15px 0;
  background-color: #000;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  min-height: 125px;
}
#acara .continer .counter div {
  display: inline-block;
}
#acara .continer .counter .days,
#acara .continer .counter .hours,
#acara .continer .counter .minutes,
#acara .continer .counter .seconds {
  width: 25%;
  float: left;
  text-align: center;
}
#acara .continer .counter .days .value,
#acara .continer .counter .hours .value,
#acara .continer .counter .minutes .value,
#acara .continer .counter .seconds .value {
  display: block;
  font-size: 36pt;
  width: 100%;
  display: block;
}
#acara .continer .counter .days span,
#acara .continer .counter .hours span,
#acara .continer .counter .minutes span,
#acara .continer .counter .seconds span {
  font-size: 8pt;
  opacity: 0.8;
  width: 100%;
  display: block;
}
#acara .continer .counter .hours::before,
#acara .continer .counter .minutes::before,
#acara .continer .counter .seconds::before {
  content: ":";
  float: left;
  font-size: 20pt;
  position: relative;
  margin-top: 10px;
  opacity: 0.7;
  animation: pink 1s ease-in-out infinite;
}
@keyframes pink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=app.css.map */